@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>


<!-- Bulls Section -->

<section class="page-section text-center" id="products">
    <div class="wow fadeIn text-center">
        <h1>Our Bulls</h1>
        <h3>
            Additional discounts available for orders of 10 or more straws.
            Paypal and Checks accepted.
        </h3>
        <hr class="colored">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/4SeasonsAce.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>4 Seasons Ace</h3>
                                <hr class="colored">
                                <p>
                                    Polled Registered Devon Bull:
                                    Sire: Tapuwae 635 from New Zealand
                                    Dam: Matre T8
                                    DNA Case: DCA DCA595
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/4SeasonsRoy.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>4 Seasons Roy</h3>
                                <hr class="colored">
                                <p>
                                    Polled Registered Devon Bull:
                                    Sire: Paxterra Roy
                                    Dam: Matre T8
                                    DNA Case: DCA 518
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/Adventure444Rueben.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Adventure 444 Rueben</h3>
                                <hr class="colored">
                                <p>
                                    Polled Registered Devon Bull:
                                    Sire: Rotokawa 667 from New Zealand
                                    Dam: Adventureland Runner
                                    DNA Case: NC29291
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/AdventureRotokawaADV97K.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Adventure Rotokawa ADV 97K</h3>
                                <hr class="colored">
                                <p>
                                    Polled Registered Devon Bull:
                                    Sire: Rotokawa 688
                                    Dam: Lakota 97K
                                    DNA Case: DCA 511
                                    Milk Production Gene A2/A2: YES
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/ApplewoodFarmJosh.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Applewood Farm Josh</h3>
                                <hr class="colored">
                                <p>
                                    Sire: Applewood Farm Duke
                                    Dam: Moosehead Charlotte
                                    DNA Case: DCA 400
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/ElmCrestChampQ1.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Elm Crest Champ Q1</h3>
                                <hr class="colored">
                                <p>
                                    2007 Reserve Grand Champion - American Devon Cattle National Show
                                    Polled Registered Devon Bull:
                                    Sire: Rotokawa 688
                                    Dam: Longacres Farm Cher
                                    DNA Case: DCA 397
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/KeystoneGod.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Keystone God</h3>
                                <hr class="colored">
                                <p>
                                    Polled Registered Devon Bull
                                    Sire: Keystone Benjamin P-22230
                                    Dam: J&S Devon Abigail P-40213
                                    DNA Case: DCA 793
                                    HOMOZYGOUS POLLED
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/PaxterraRoy.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Paxterra Roy</h3>
                                <hr class="colored">
                                <p>
                                    Sire: Keystone Caleb out of Rotokawa 982
                                    Dam: Stonebridge R54 out of Crooked Tree N10
                                    DNA Case: DCA 396
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>