@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>


<!-- Navigation -->
<div class="page-top fixed-top">
    <div id="logoTag">
        <div class="logo">
            <a asp-page="/Index" class="js-scroll-trigger navbar-brand img"><img class="img-fluid" src="~/images/4seasonscattlelogo-min.jpg" href="/" alt=""></a>
        </div>
        <div id="tagline">
            <a asp-page="/News" class="js-scroll-trigger">Latest News</a>
            <span style="font-size: 20px; margin-left:5px; color: #999;">|</span>
            <a asp-page="/Gallery" class="js-scroll-trigger">Gallery</a>
            <span style="font-size: 20px; margin-left:5px; color: #999;">|</span>
            <strong id="phoneNumber">814.937.6919</strong>
            <span style="font-size: 20px; margin-left:5px; color: #999;">|</span>
            <a href="https://www.facebook.com/4seasonscattle/">
                <i class="fa fa-facebook-square fa-2x" style="color:#3b5998"></i>
            </a>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg" id="mainNav">
        <div class="container">
            <a class="js-scroll-trigger btn btn-md" href="#contact" id="buyBtn">BUY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br />
<br />
<!-- Bulls Section -->
<section class="page-section text-center" id="products">
    <div class="wow fadeIn text-center">
        <h1>Our Bulls</h1>
        <hr class="colored">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/4seasonsace-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>4 Seasons Ace</h3>
                                <hr class="colored">
                                <div class="card-center">
                                    <h6>
                                       Polled Registered Devon Bull
                                    </h6>
                                </div>
                                <p>
                                    <strong>Sire: </strong>Tapuwae 635 from New Zealand<br />
                                    <strong>Dam: </strong>Matre T8<br />
                                    <strong>DNA Case: </strong>DCA DCA595<br />
                                    <strong>Price: </strong>$25 per straw (plus shipping)
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/AcePedigree.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal1">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div>
                    <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog mb-4" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">4 Seasons Ace</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    4 Seasons Ace is a frame 4 bull weighing in at over 2100 lbs. This bull was sired by the impressive Tapuwae 635 bull from Arthur Beazly's herd in New Zealand. Ace offers a great genetic package of American combined with NZ pedigrees. He has a very impressive rate of gain for an all grass-fed animal! His weight records are: 78lbs at birth; 790 lbs at 8.7 months(weaning); 1430 lbs at 21.5 months; 1930 lbs at 38.5 months. He is a gentle bull and produces offspring with excellent growth and conformation.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/adv444-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Adventure 444 Reuben</h3>
                                <hr class="colored">
                                <div class="card-center">
                                    <h6>
                                        Polled Registered Devon Bull
                                    </h6>
                                </div>
                                <p>                                  
                                    <strong>Sire: </strong>Rotokawa 667 from New Zealand<br />
                                    <strong>Dam: </strong>Adventureland Runner<br />
                                    <strong>DNA Case: </strong>NC29291<br />
                                    <strong>Price: </strong>$25 per straw (plus shipping)
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/ReubenPedigree.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal2">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Adevnture 444 Reuben</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Reuben produces deep-thick calves that grow extremely well. He has a strong pedigree with Rotokawa 667 as his sire and on the Dam side Noyl Boy M78 and Lakota's Champ 53. A great combination of genetics that offer proven results. Reuben is one of our premiere sires currently being used. This 1900 lb, frame 4 bull has proven to be a winner.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/adv97k-min.jpg" w alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Adventure Rotokawa ADV 97K</h3>
                                <hr class="colored">
                                <div class="card-center">
                                    <h6>
                                        Polled Registered Devon Bull <br />
                                        2015 National Reserve Grand Champion - <br />
                                        Red Devon USA National Show<br />
                                    </h6>
                                </div>
                                <p>                   
                                    <strong>Sire: </strong>Rotokawa 688<br />
                                    <strong>Dam: </strong>Lakota 97K<br />
                                    <strong>DNA Case: </strong>DCA 511<br />
                                    <strong>Milk Production Gene A2/A2: </strong> YES <br />
                                    <strong>Price: </strong>$25 per straw (plus shipping)
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/97k.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal3">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Adventure Rotokawa ADV 97K</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                4-Seasons Farm was the proud owner of Adventure Rotokawa ADV 97K. This impressive bull was productive until age 12. He produced calves with incredible depth, width, and growth. He was a polled bull and has a phenomenal rump; he was the result of the best of New Zealand genetics combined with the best of American genetics.

                                Adventure Rotokawa 97K was one of the best looking and most impressive Devon bulls we have seen. Weighing in at over 2450 lbs with a 97 inch heart girth and flank girth, and a 88 inch top line this bull has the capacity and balance needed to excel on grass.

                                His sons will make you money as bulls or steers that dress heavy. He makes the right size daughters that would be a perfect addition to your herd. His Dam, Lakotas 97K produced until 13 years of age! Her owner said she has been one of their best cows with a terrific utter with small teats at 13 years of age.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/4roy-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>4 Seasons Roy</h3>
                                <hr class="colored">
                                <div class="card-center">
                                    <h6>
                                        Polled Registered Devon Bull
                                    </h6>
                                </div>
                                <p>
                                    <strong>Sire: </strong>Paxterra Roy<br />
                                    <strong>Dam: </strong>Matre T8<br />
                                    <strong>DNA Case: </strong>DCA 518<br />
                                    <strong>Price: </strong>$30 per straw (plus shipping)
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/4seasonsroy.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal4">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">4 SEASONS ROY</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Polled son of Paxterra Roy! 4 Seasons Roy is an excellent polled bull which throws calves averaging 71 lbs. He weighed 1300 lbs at 24 months of age. We use him on heifers as with the Paxtera Roy bull. We have found these bulls to produce moderate framed offspring that gain readily on grass and finish as soon as 18 months of age.

                                This bull's dam is one of our best cows and offers old genetics through her pedigree including Effingham Noyl Boy T28, Desire BCG Big George, Trailblazer of Grovemont, and Effinghams Franklin.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/afjosh-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Applewood Farm Josh</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Sire: </strong>Applewood Farm Duke<br />
                                    <strong>Dam: </strong>Moosehead Charlotte<br />
                                    <strong>DNA Case: </strong> DCA 400<br />
                                    <strong>Price: </strong>$25 per straw (plus shipping)
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/Josh.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal5">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Applewood Farm Josh</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Applewood Farm Josh came from Maine. He is still at work at age 14! This 14 year old bull offers some old genetics such as HND, Longacres, Moosehead. (Moosehead Farms Devon Herd was dispersed over 17 years ago.) He is a frame 3 bull with great width and depth which is passed on to his offspring. He has a great disposition and we have retained several daughters for our own herd. His daughters have dark, ruby red, slick hair coats and make excellent mothers. His daughter are moderate framed efficient mothers with excellent udders. Applewood Farm Josh's Dam was 15 years old and still in production. The owner said that was his best cow. This bull is a calving ease bull.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/elm-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Elm Crest Champ Q1</h3>
                                <hr class="colored">
                                <div class="card-center">
                                    <h6>
                                        Polled Registered Devon Bull <br />
                                        2007 Reserve Grand Champion - <br />American Devon Cattle National Show
                                    </h6>
                                </div>
                                <p>
                                    
                                    <strong>Sire: </strong>Rotokawa 688<br />
                                    <strong>Dam: </strong>Longacres Farm Cher<br />
                                    <strong>DNA Case: </strong>DCA 397<br />
                                    <strong>Price: </strong>$50 per straw (plus shipping) Limited Quantity!
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/Elm.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal6">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Elm Crest Champ Q1</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Elm Crest Champion is a bull that adds muscle, width, and depth to his offspring. He is a 2200 lb bull with great balance, superb width from side to side, and tremendous length from top to bottom. He is a direct son of the infamous Rotokawa 688 bull. In addition his Dam's pedigree has Effingham pedigree lines as well as a the great Noyl Boy M78 bull.

                                Elm Crest Champion was the Reserve Grand Champion at the American Devon Cattle 2007 Great Event in Washington, PA. He is a masculine polled bull with great genetics and disposition to go along. Don't miss this opportunity to add his genetic strengths to your herd. His son out of a 1000 lb Devon cow recently tipped the scale at over 600 lbs at 200 days of age!
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/ksg-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Keystone God</h3>
                                <hr class="colored">
                                <div class="card-center">
                                    <h6>
                                        Polled Registered Devon Bull
                                    </h6>
                                </div>
                                <p>
                                    <strong>Polled Registered Devon Bull</strong><br />
                                    <strong>Sire: </strong>Keystone Benjamin P-22230<br />
                                    <strong>Dam: </strong>J&S Devon Abigail P-40213<br />
                                    <strong> DNA Case: </strong>DCA 793<br />
                                    <strong> HOMOZYGOUS POLLED:</strong><br />
                                    <strong>Price: </strong>SOLD OUT
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/keystonegod.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal7">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Keystone God</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                4 Seasons Farm is the proud new owner of the great Keystone God bull. This 2000 pound animal offers tremendous depth and width. He has superb balance and conformation. In addition he has strong polled genetics. Keystone God has a pedigree that combines the best of New Zealand genetics with the best of American genetics. He produces moderate size offspring that perform very well on grass.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 mb-4">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/proy-min.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Paxterra Roy</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Sire: </strong>Keystone Caleb out of Rotokawa 982<br />
                                    <strong>Dam: </strong>Stonebridge R54 out of Crooked Tree N10<br />
                                    <strong>DNA Case: </strong>DCA 396<br />
                                    <strong>Price: </strong>$25 per straw (plus shipping)
                                </p>
                            </div>
                            <div class="btnContainer">
                                <div>
                                    <a href="~/images/pedigree/Roy-C.pdf" class="btn btn-secondary" target="_blank">View Pedigree</a>
                                    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal8">
                                        More Info
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- Modal -->
    <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Paxterra Roy</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Paxterra Roy is a smaller frame bull with lots of depth and width. He is pictured here at 18 months of age. Roy has a great disposition that he passes on to his offspring along with great growth. His son was 1300 lbs at 24 months of age. Great sires Crooked Tree and Rotokawa 982 line his pedigree.

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr class="colored">
    <h3>
        Discounts available for orders of 10 or more straws.<br />
        Paypal and Checks accepted.
    </h3>
</section>