@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>


<!-- Bulls Section -->

<section class="page-section text-center" id="products">
    <div class="wow fadeIn text-center">
        <h1>Our Bulls</h1>
        <h3>
            Discounts available for orders of 10 or more straws.<br />
            Paypal and Checks accepted.
        </h3>
        <hr class="colored">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/4SeasonsAce.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>4 Seasons Ace</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Polled Registered Devon Bull: </strong><br />
                                    <strong>Sire: </strong>Tapuwae 635 from New Zealand<br />
                                    <strong>Dam: </strong>Matre T8<br />
                                    <strong>DNA Case: </strong>DCA DCA595
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/4SeasonsRoy.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>4 Seasons Roy</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Polled Registered Devon Bull: </strong><br />
                                    <strong>Sire: </strong>Paxterra Roy<br />
                                    <strong>Dam: </strong>Matre T8<br />
                                    <strong>DNA Case: </strong>DCA 518
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/Adventure444Rueben.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Adventure 444 Rueben</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Polled Registered Devon Bull:</strong><br />
                                    <strong>Sire: </strong>Rotokawa 667 from New Zealand<br />
                                    <strong>Dam: </strong>Adventureland Runner<br />
                                    <strong>DNA Case: </strong>NC29291
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/AdventureRotokawaADV97K.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Adventure Rotokawa ADV 97K</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Polled Registered Devon Bull:</strong><br />
                                    <strong>Sire: </strong>Rotokawa 688<br />
                                    <strong>Dam: </strong>Lakota 97K<br />
                                    <strong>DNA Case: </strong>DCA 511<br />
                                    <strong>Milk Production Gene A2/A2: </strong>YES
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/ApplewoodFarmJosh.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Applewood Farm Josh</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Sire: </strong>Applewood Farm Duke<br />
                                    <strong>Dam: </strong>Moosehead Charlotte<br />
                                    <strong>DNA Case: </strong> DCA 400
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/ElmCrestChampQ1.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Elm Crest Champ Q1</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Polled Registered Devon Bull:</strong><br />
                                    <strong>2007 Reserve Grand Champion - <br />American Devon Cattle National Show:</strong><br />
                                    <strong>Sire: </strong>Rotokawa 688<br />
                                    <strong>Dam: </strong>Longacres Farm Cher<br />
                                    <strong>DNA Case: </strong>DCA 397
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/KeystoneGod.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Keystone God</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Polled Registered Devon Bull:</strong><br />
                                    <strong>Sire: </strong>Keystone Benjamin P-22230<br />
                                    <strong>Dam: </strong>J&S Devon Abigail P-40213<br />
                                    <strong> DNA Case: </strong>DCA 793<br />
                                    <strong> HOMOZYGOUS POLLED:</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/PaxterraRoy.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Paxterra Roy</h3>
                                <hr class="colored">
                                <p>
                                    <strong>Sire: </strong>Keystone Caleb out of Rotokawa 982<br />
                                    <strong>Dam: </strong>Stonebridge R54 out of Crooked Tree N10<br />
                                    <strong>DNA Case: </strong>DCA 396
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>