@page
@model IndexModel
@{
    ViewData["Title"] = "";
}
<h2>@ViewData["Title"]</h2>


<!-- Navigation -->
<div class="page-top fixed-top">
    <div id="logoTag">
        <div class="logo">
            <a asp-page="/Index" class="js-scroll-trigger navbar-brand img"><img class="img-fluid" src="~/images/4seasonscattlelogo.jpg" href="/" alt=""></a>
        </div>
        <div id="tagline">
            <a asp-page="/News" class="js-scroll-trigger">Latest News</a>
            <span style="font-size: 20px; margin-left:5px; color: #999;">|</span>
            <a asp-page="/Gallery" class="js-scroll-trigger">Gallery</a>
            <span style="font-size: 20px; margin-left:5px; color: #999;">|</span>
            <strong id="phoneNumber">814.937.6919</strong>
            <span style="font-size: 20px; margin-left:5px; color: #999;">|</span>
            <a href="https://www.facebook.com/4seasonscattle/">
                <i class="fa fa-facebook-square fa-2x" style="color:#3b5998"></i>
            </a>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg" id="mainNav">
        <div class="container">
            <a class="js-scroll-trigger btn btn-md" href="/Index" id="buyBtn">BUY</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
                Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">Products</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a asp-page="/Index" class="js-scroll-trigger nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
        <li data-target="#carousel-example-2" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="~/images/placeholder.jpg" alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="~/images/placeholder.jpg" alt="Second slide">
                <div class="mask rgba-black-light"></div>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img class="d-block w-100" src="~/images/placeholder.jpg" alt="Third slide">
                <div class="mask rgba-black-light"></div>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->