@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="~/images/logoblack.png" alt="">
        </a>
        <a class="js-scroll-trigger btn btn-md" href="#contact" id="buyBtn">BUY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            Menu
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#page-top">Home</a>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link js-scroll-trigger" href="#announcements">Announcements</a>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header>
    <img sizes="(max-width: 3840px) 100vw, 3840px"
         srcset="
/images/hero/bg_zjursu_c_scale,w_50.jpg 50w,
/images/hero/bg_zjursu_c_scale,w_661.jpg 661w,
/images/hero/bg_zjursu_c_scale,w_987.jpg 987w,
/images/hero/bg_zjursu_c_scale,w_1254.jpg 1254w,
/images/hero/bg_zjursu_c_scale,w_1490.jpg 1490w,
/images/hero/bg_zjursu_c_scale,w_1702.jpg 1702w,
/images/hero/bg_zjursu_c_scale,w_1895.jpg 1895w,
/images/hero/bg_zjursu_c_scale,w_2084.jpg 2084w,
/images/hero/bg_zjursu_c_scale,w_2280.jpg 2280w,
/images/hero/bg_zjursu_c_scale,w_2445.jpg 2445w,
/images/hero/bg_zjursu_c_scale,w_2601.jpg 2601w,
/images/hero/bg_zjursu_c_scale,w_2777.jpg 2777w,
/images/hero/bg_zjursu_c_scale,w_2932.jpg 2932w,
/images/hero/bg_zjursu_c_scale,w_3088.jpg 3088w,
/images/hero/bg_zjursu_c_scale,w_3246.jpg 3246w,
/images/hero/bg_zjursu_c_scale,w_3398.jpg 3398w,
/images/hero/bg_zjursu_c_scale,w_3552.jpg 3552w,
/images/hero/bg_zjursu_c_scale,w_3696.jpg 3696w,
/images/hero/bg_zjursu_c_scale,w_3830.jpg 3830w,
/images/hero/bg_zjursu_c_scale,w_3840.jpg 3840w"
         src="/images/hero/bg_zjursu_c_scale,w_3840.jpg"
         alt="">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto text-center text-white">
            </div>
        </div>
    </div>
</header>

<!-- Section where announcements would go -->



<!-- Products Section -->

<section class="page-section text-center" id="products">
    <div class="wow fadeIn text-center">
        <h1>WHAT WE SELL</h1>
        <hr class="colored">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/steak.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Grass-Fed Beef</h3>
                                <hr class="colored">
                                <p>
                                    Sold by 1/4, 1/2, or whole beef
                                    Price: <strong>$4.50/lb</strong> (dressed weight)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/porkchops.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Pork</h3>
                                <hr class="colored">
                                <p>
                                    Sold by the 1/2 or whole hog
                                    Price:<strong>$4.10/lb</strong> (dressed weight)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/cattle.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Cattle</h3>
                                <hr class="colored">
                                <p>
                                    4 Seasons Farm offers some of the finest Registered Devon cattle in the country.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="text-center">
                        <div class="card-content">
                            <div class="card-img">
                                <img src="~/images/bull-semen.jpg" alt="">
                            </div>
                            <div class="card-desc">
                                <h3>Bull Semen</h3>
                                <hr class="colored">
                                <p>
                                    Our bulls offer strong, diverse pedigrees and a proven track record.
                                </p>
                                <h3><a asp-page="/Bulls">View Our Bulls</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="page-section" id="about">
    <div class="container-fluid">
        <div class="wow fadeIn text-center">
            <h1>WHAT WE DO</h1>
            <p class="mb-0">"We work off a platform of integrity – treating our customers the way we would like to be treated. Visitors are always welcome, and we enjoy helping other farmers get started or improve their herds. Please contact us and see if we can fit the needs of your herd or to just talk about Devon cattle." -Bob VanKirk</p>
            <hr class="colored">
            <div class="row text-center">
                <div class="col-lg-6 col-md-6">
                    <div class="wow fadeIn px-4 pb-4 pb-lg-0 h-100" data-wow-delay=".2s">
                        <i class="fa fa-cutlery fa-4x"></i>
                        <h3>100% Grass Fed Beef</h3>
                        <p class="mb-0"><strong>NO</strong> Hormones <br> <strong>NO</strong> Antibiotics <br><strong>NO</strong> Animal Byproducts</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="wow fadeIn px-4 pb-4 pb-lg-0 h-100" data-wow-delay=".4s">
                        <i class="fa fa-users fa-4x"></i>
                        <h3>Family Owned Business</h3>
                        <p class="mb-0">Bob grew up on a beef farm and has enjoyed developing his own herd of now 100 Registered Devons. Employing his son Robert, 4 Seasons Farm provides quality beef with service you'd only expect from a family owned business.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container wow fadeIn">
        <div class="text-center">
            <h1>Contact Us</h1>
            <hr class="colored">
            <p>If you would like to purchase something, or come visit please contact us</p>
        </div>
        <div class="row mt-4" id="contactDiv">
            <div class="col-lg-8 mx-auto">
                <form method="post" id="frmContactForm" asp-page-handler="ContactFormSubmit">
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <input type="text" class="form-control" placeholder="Name" asp-for="Name">
                            <span asp-validation-for="Name" class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <input type="email" class="form-control" placeholder="Email Address" asp-for="Email">
                            <span asp-validation-for="Email" class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <input type="tel" class="form-control" placeholder="Phone Number" asp-for="Phone">
                            <span asp-validation-for="Phone" class="help-block text-danger"></span>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-12 floating-label-form-group controls">
                            <textarea rows="5" class="form-control" placeholder="Message" asp-for="Message"></textarea>
                            <span asp-validation-for="Message" class="help-block text-danger"></span>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-12">
                            <button id="btnSubmitContactForm" type="submit" class="btn btn-secondary">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="contactResult" class="d-none row mt-4">
        </div>
    </div>
</section>

<div class="modal"><!-- Place at bottom of page --></div>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Capture AJAX start/end
            $body = $("body");

            $(document).on({
                ajaxStart: function () { $body.addClass("loading"); },
                ajaxStop: function () { $body.removeClass("loading"); }
            });

            // Handle contact form submission
            $("#frmContactForm").submit(function (e) {
                // Cache this
                const $this = $(this);

                // Prevent form submission
                e.preventDefault();

                // Check validity of form
                const isFormValid = $this.valid();

                if (isFormValid) {
                    // Submit contact form via AJAX to server
                    $.ajax({
                        url: $this.attr('action'),
                        type: $this.attr('method'),
                        dataType: 'json',
                        data: $this.serialize(),
                        success: function (data) {
                            if (data === true) {
                                $("#contactDiv").addClass("d-none");
                                $("#contactResult").html("Thank you for your submission. Someone will contact you shortly.").removeClass("d-none someredclass");
                            } else {
                                showContactError();
                            }
                        },
                        error: function (xhr, err) {
                            showContactError();
                        }
                    });
                }

                return false;
            });
        });

        function showContactError() {
            $("#frmContactForm").html("Sorry, an error has occurred. Please try again later.").addClass("someredclass").removeClass("d-none");
        }
    </script>
}