@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i");
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */ }

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d; }

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg); }

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; }

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black; }

/* Style the back side */
.flip-box-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg); }

.hidden {
  overflow: hidden;
  display: none;
  visibility: hidden; }

header.masthead .scroll-down .btn {
  color: black;
  border: 2px solid black;
  background: white; }

.nav-item {
  color: black; }

.details-card {
  background: white !important; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 30px;
  width: 30px;
  outline: black;
  background-color: black;
  background-size: 50%, 50%;
  border-radius: 50%;
  border: 1px solid black; }

#bullBtn {
  color: black;
  background: white;
  border-color: black;
  text-align: center; }

#bullBtn:hover, #bullBtn:focus, #bullBtn:active, #bullBtn.active {
  color: #BD462C;
  background-color: #F9F9F9;
  border-color: black;
  text-align: center;
  /*display: flex;*/ }

#buyBtn {
  color: black;
  float: left;
  background: white;
  border-color: black;
  text-align: center; }

#buyBtn:hover, #buyBtn:focus, #buyBtn:active, #buyBtn.active {
  color: #BD462C;
  background-color: #F9F9F9;
  border-color: black;
  text-align: center;
  /*display: flex;*/ }

.open > .dropdown-toggle#buyBtn {
  color: white;
  background-color: #F9F9F9;
  border-color: black;
  text-align: center;
  /*display: flex;*/ }

.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: block;
  color: black; }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px; } }

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {
  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
  #quote-carousel .carousel-indicators {
    bottom: -20px !important; }
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px; }
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px; } }

.card-pricing.popular {
  z-index: 1;
  border: 3px solid #007bff; }

.card-pricing .list-unstyled li {
  padding: .5rem 0;
  color: #6c757d; }

hr.colored {
  border-color: #BD462C; }

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active {
  color: #BD462C;
  border-radius: 0;
  border-radius: 5px;
  background-color: #F9F9F9; }

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link.active:hover {
  color: #BD462C;
  border-radius: 0;
  border-radius: 5px;
  background-color: #F9F9F9; }

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
  padding: 15px; }

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black; }

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:focus, #mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link:hover {
  color: #BD462C;
  background-color: #f9f9f9; }

#mainNav.navbar-shrink {
  padding: 5px 0;
  background-color: white; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
  color: red; }

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
  color: black !important;
  border-color: black !important;
  background-color: #F9F9F9 !important; }

.owl-carousel.owl-theme .owl-controls .owl-prev, .owl-carousel.owl-theme .owl-controls .owl-next {
  font-size: 30px !important;
  line-height: 50px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 60px;
  margin: auto 0 !important;
  text-align: center;
  color: black !important;
  border-radius: 0 !important;
  background-color: #BD462C !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }

/* card details start  */
section {
  padding: 100px 0; }

.card-content {
  background: #ffffff;
  border: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1; }

.card-img img {
  width: 100%;
  height: auto;
  display: block; }

.card-img span {
  position: absolute;
  top: 15%;
  left: 12%;
  background: #1ABC9C;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%, -50%); }

.card-img span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0; }

.card-desc {
  padding: 1.25rem; }

.card-desc h3 {
  color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0; }

.card-desc p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'Raleway', sans-serif; }

.btn-card {
  background-color: #1ABC9C;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff; }

.btn-card:hover {
  background: orange; }

a.btn-card {
  text-decoration: none;
  color: #fff; }

#mainNav {
  background-color: white; }

/* End card section */
#mainNav .navbar-toggler {
  padding: 15px;
  color: black;
  font-size: 14px; }

#mainNav .navbar-collapse .navbar-nav > .nav-item > .nav-link {
  padding-top: 15px;
  padding-bottom: 15px;
  color: black; }

.card {
  margin: 10px 10px; }

/* Flip Cards CSS */
.card-container {
  display: grid;
  perspective: 700px; }

.card-flip {
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "frontAndBack";
  transform-style: preserve-3d;
  transition: all 0.7s ease; }

.card-flip div {
  backface-visibility: hidden;
  transform-style: preserve-3d; }

.front {
  grid-area: frontAndBack; }

.back {
  grid-area: frontAndBack;
  transform: rotateY(-180deg); }

.card-container:hover .card-flip {
  transform: rotateY(180deg); }

/* Loading animation */
/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8) url("http://i.stack.imgur.com/FhHRx.gif") 50% 50% no-repeat; }

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
  overflow: hidden; }

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
  display: block; }
