<!DOCTYPE html>
<html>
<head>
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>4 Seasons Farm</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom fonts for this theme -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,600,500,700,800,900" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="~/vendor/animate.css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this theme -->
    <link href="css/site.css" rel="stylesheet" type="text/css">
    <link href="css/custom.css" rel="stylesheet" type="text/css">


</head>
<body>
    <partial name="_CookieConsentPartial" />
    <div id="page-top">
        @RenderBody()
        <hr />
        <footer class="footer" style="background-image: url('/images/farm.jpg');">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-4 footer-contact-details">
                        <h4>
                            <i class="fa fa-phone"></i>
                            Call
                        </h4>
                        <p>814-684-2899</p>
                    </div>
                    <div class="col-md-4 footer-contact-details">
                        <h4>
                            <i class="fa fa-map-marker"></i>
                            Visit
                        </h4>
                        <p>
                            305 Pacanowski Lane
                            <br>Tyrone, PA 16686
                        </p>
                    </div>
                    <div class="col-md-4 footer-contact-details">
                        <h4>
                            <i class="fa fa-envelope"></i>
                            Email
                        </h4>
                        <p>
                            <a href="mailto:grassfed@4seasonscattle.com">grassfed@4seasonscattle.com</a>
                        </p>
                    </div>
                </div>
                <div class="row footer-social">
                    <div class="col-lg-12">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/4seasonscattle/">
                                    <i class="fa fa-facebook fa-fw fa-2x"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <p class="copyright">&copy; 2018</p>
            </div>
        </footer>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="vendor/vide/jquery.vide.min.js"></script>
    <script src="vendor/wowjs/wow.min.js"></script>

    <!-- Contact form JavaScript -->
    @*<script src="js/contact_me.js"></script>*@
    @*<script src="js/jqBootstrapValidation.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.18.0/jquery.validate.min.js" integrity="sha256-uzabfEBBxmdH/zDxYYF2N7MyYYGkkerVpVwRixL92xM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js" integrity="sha256-9GycpJnliUjJDVDqP0UEu/bsm9U+3dnQUH8+3W10vkY=" crossorigin="anonymous"></script>

    <!-- Custom scripts for this theme -->
    <script src="js/vitality.js"></script>
    <!--Gallery script for Bull Semen -->
    <script src="~/js/gallery.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
