@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i");

.btn, .btn:focus, .btn.active:focus, .btn:active {
    outline: none !important;
    outline-style: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

a {
    &:hover, &:focus {
        color: black;
    }

    color: #BD462C;
}

.text-center {
    height: 100%;
}
.card-content {
    height: 100%;
}

h4 {
    color: white;
}

.fa-fw {
    color: white;
}

footer.footer {
    .copyright, p, a {
        color: white;
    }
}

#contactResult {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    color: #BD462C;
    font-size: 20px;
}

@media (max-width: 768px) {
    .masthead {
        background: url('bgmobile.jpg') no-repeat center top;
    }
}

.hidden {
    overflow: hidden;
    display: none;
    visibility: hidden;
}

header.masthead .scroll-down .btn {
    color: black;
    border: 2px solid black;
    background: white;
}

.nav-item {
    color: black;
}

.details-card {
    background: white !important;
}

#bullBtn {
    color: black;
    background: white;
    border-color: black;
    text-align: center;

    &:hover, &:focus, &:active, &.active {
        color: #BD462C;
        background-color: #F9F9F9;
        border-color: black;
        text-align: center;
        /*display: flex;*/
    }
}

#buyBtn {
    color: black;
    float: left;
    background: white;
    border-color: black;
    text-align: center;
    outline: none;
    box-shadow: none;

    &:hover, &:focus, &:active, &.active {
        color: #BD462C;
        background-color: #F9F9F9;
        border-color: black;
        text-align: center;
        outline: none;
        box-shadow: none;
        /*display: flex;*/
    }
}

.open > .dropdown-toggle#buyBtn {
    color: white;
    background-color: #F9F9F9;
    border-color: black;
    text-align: center;
    /*display: flex;*/
}


hr.colored {
    border-color: #BD462C;
}

#mainNav {
    .navbar-collapse .navbar-nav > .nav-item > .nav-link {
        &.active {
            color: #BD462C;
            border-radius: 0;
            border-radius: 5px;
            background-color: #F9F9F9;
            outline: none;

            &:focus, &:hover {
                color: #BD462C;
                border-radius: 0;
                border-radius: 5px;
                background-color: #F9F9F9;
                outline: none;
            }
        }

        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;

        &:focus, &:hover {
            color: #BD462C;
            background-color: #f9f9f9;
        }
    }

    &.navbar-shrink {
        padding: 5px 0;
        background-color: lightgray;
    }
}

#mainNav {
    background: lightgray;
    padding: 5px 0;

    .navbar-toggler {
        padding: 15px;
        color: black;
        font-size: 14px;
        outline: none;
    }

    .navbar-collapse .navbar-nav > .nav-item > .nav-link {
        padding-top: 15px;
        padding-bottom: 15px;
        color: black;
    }
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1;
    color: red;
}

.btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
    color: #BD462C !important;
    border-color: black !important;
    background-color: #F9F9F9 !important;
    box-shadow: none;
}

/* card details start  */
section {
    padding: 100px 0;
}

.card-content {
    background: #ffffff;
    border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;

    .btnContainer {
        flex-grow: 1;
        min-height: 60px !important;
        position: relative;

        div {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto 8px auto;
        }
    }
}


.card-img {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    z-index: 1;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    span {
        position: absolute;
        top: 15%;
        left: 12%;
        background: #1ABC9C;
        padding: 6px;
        color: #fff;
        font-size: 12px;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        transform: translate(-50%, -50%);

        h4 {
            font-size: 12px;
            margin: 0;
            padding: 10px 5px;
            line-height: 0;
        }
    }
}

.card-desc {
    padding: 1.25rem;

    h3 {
        color: #000000;
        font-weight: 600;
        font-size: 1.5em;
        line-height: 1.3em;
        margin-top: 0;
        margin-bottom: 5px;
        padding: 0;
    }

    p {
        color: #747373;
        font-size: 14px;
        font-weight: 400;
        font-size: 1em;
        line-height: 1.5;
        margin: 0px;
        margin-bottom: 20px;
        padding: 0;
        font-family: 'Raleway', sans-serif;
    }
}

.btn-card {
    background-color: #1ABC9C;
    color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;

    &:hover {
        background: orange;
    }
}

a.btn-card {
    text-decoration: none;
    color: #fff;
}

.card {
    margin: 10px 10px;
}

/* Loading animation */

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */

.modalload {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

body.loading .modalload {
    overflow: hidden;
    display: block;
}

/* Anytime the body has the loading class, our
   modal element will be visible */

#mainNav .navbar-brand img {
    height: 80px;
}

#tagline {
  text-align:center;
  float: right;
}

h4 {
    font-size: 20px;
    color: black;
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 900;
    text-transform: uppercase;
}

@media (max-width: 766px) {
    #mainNav .navbar-brand img {
        height: 35px;
    }
}

select{
font-weight: 300;
font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#logoTag{
    background:white;
}

